/* CSS Variables for Theme */
:root {
    --primary-color: #000; /* Black */
    --secondary-color: #333; /* Darker Shade of Black */
    --background-color: #f4f4f4;
    --text-color: #000; /* Black */
    --light-background: #fff;
    --light-border: #ddd;
    --hover-scale: 1.05;
    --gradient-start: #FFD700; /* Gold */
    --gradient-end: #FFA500; /* Orange-ish Gold */
    --card-width: 300px;
    --card-height: 400px;
    --animation-duration: 0.5s;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --hover-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    --ripple-background: rgba(255, 215, 0, 0.1); /* Gold with transparency */
    --gradient-border: linear-gradient(135deg, #FFD700, #FFA500);
    --theme-switcher-bg: #000;
    --theme-switcher-color: #FFD700;
}
/* Dark Theme */
[data-theme='dark'] {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --background-color: #121212;
    --text-color: #fff;
    --light-background: #1f1f1f;
    --light-border: #333;
    --theme-switcher-bg: #fff;
    --theme-switcher-color: #000;
}

/* Light Theme */
[data-theme='light'] {
    --primary-color: #000;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #000;
    --light-background: #fff;
    --light-border: #ddd;
    --theme-switcher-bg: #000;
    --theme-switcher-color: #FFD700;
}


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    overflow-y: scroll; /* Enable vertical scroll bar */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Theme Switcher */
.theme-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--theme-switcher-bg);
    color: var(--theme-switcher-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.theme-switcher:hover {
    background-color: var(--theme-switcher-color);
    color: var(--theme-switcher-bg);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.navbar a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: var(--secondary-color);
}

.navbar .logout-button {
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar .logout-button:hover {
    background-color: var(--primary-color);
}

/* Header */
header {
    background: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
}

/* Footer */
footer {
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.column {
    flex: 1;
    padding: 15px;
    min-width: 300px;
    max-width: var(--card-width);
    margin-bottom: 20px;
}

.card {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    border: 1px solid var(--light-border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    transition: transform var(--animation-duration), box-shadow var(--animation-duration);
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    opacity: 1;
    position: relative;
    overflow: visible;
}

.card:hover {
    transform: scale(var(--hover-scale));
    box-shadow: var(--hover-box-shadow);
    opacity: 1;
}

.card img {
    border: 2px solid var(--gradient-start);
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform var(--animation-duration);
}

.card img:hover {
    transform: scale(1.1);
}

/* Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 5px 0;
    transition: background-color 0.3s, transform var(--animation-duration);
}

.button-primary {
    background-color: var(--primary-color);
    color: #f3d5d5;
}

.button-primary:hover {
    background-color: var(--secondary-color);
    transform: scale(var(--hover-scale));
}

.button-secondary {
    background-color: var(--light-border);
    color: var(--text-color);
}

.button-secondary:hover {
    background-color: var(--secondary-color);
    color: #cb4747;
    transform: scale(var(--hover-scale));
}

/* Forms */
form {
    background-color: var(--light-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--light-border);
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, transform var(--animation-duration);
}

form input[type="submit"]:hover {
    background-color: var(--secondary-color);
    transform: scale(var(--hover-scale));
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--light-background);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--light-border);
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Login Page Specific Styles */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--light-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input[type="submit"] {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: var(--light-background);
}

